# Environment variables
.env

# Python
__pycache__/
*.py[cod]
*$py.class

# Logs
*.log
app.log

# Distribution / packaging
dist/
build/
*.egg-info/

# Virtual Environment
venv/
env/
.venv/
.env/

# IDE specific files
.idea/
.vscode/
*.swp
*.swo 